<%@ Master Language="C#" MasterPageFile="~/Menu.Master" AutoEventWireup="true" CodeBehind="MasterClass.master.cs" Inherits="ShopManagement.MasterClass" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .auto-style2 {
            width: 851px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
    <table style="height:100%; width:100%">
        <tr>
            <td>
                <asp:Panel ID="Panel3" runat="server" BackColor="#CCCCCC" Height="40px" Width="1300px">
                    <table style="width:100%" >
                        <tr>
                            <td style="text-align:right">
                                &nbsp;</td>
                            <td style="text-align:right" class="auto-style2">
                                <asp:Label ID="Label3" runat="server" Text="Label"></asp:Label>
                            </td>
                            <td style="text-align:right">
                                <asp:ImageButton ID="ImageButton1" runat="server" Height="30px" ImageUrl="~/Image/logout.png" Width="40px" OnClick="ImageButton1_Click" />
                            </td>
                        </tr>
                    </table>
                    
                </asp:Panel>

            </td>
        </tr>
        <tr>
            <td>
                                <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
                <asp:Panel ID="Panel4" runat="server" width="1300px" Height="640px">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder3" runat="server">
                    </asp:ContentPlaceHolder>
                </asp:Panel>
            </td>
        </tr>
    </table>
</asp:Content>
